<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Avalonia MyGet Feed" value="https://www.myget.org/F/avalonia-ci/api/v3/index.json" />
        <add key="Avalonia All MyGet Feed" value="https://nuget.avaloniaui.net/repository/avalonia-all/" />
        <add key="Avalonia XAML Behaviors MyGet Feed" value="https://www.myget.org/F/xamlbehaviors-nightly/api/v3/index.json" />
        <add key="jp2masa MyGet Feed" value="https://www.myget.org/F/jp2masa/api/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
